/* General styles */
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.first-left-container {
  margin-bottom: 20px;
}
/* .first-left-container h1{
  font-size: 50px;
} */

.first-left-container p{
  margin: 20px 0px;
}

.first-right-container img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}



.slider-dot-play {
  margin-top: 20px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.slider-dot.orange {
  background-color: orange;
}


/* Responsive styles */
@media (min-width: 600px) {
  .first-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .first-left-container {
    flex: 1;
    margin-right: 20px;
  }

  .first-right-container {
    flex: 1;
    text-align: right;
  }

}

@media (min-width: 900px) {
  .first-container {
    padding: 40px;
  }
  


  .first-left-container {
    margin-right: 40px;
  }

  .btn {
    padding: 15px 30px;
    font-size: 16px;
  }

  .slider-dot {
    width: 16px;
    height: 16px;
  }

  .slider-dot.orange {
    background-color: orange;
  }

}
