.third-main-container{
    width: 100%;
    height: auto;
    background-color: #dee1e7;
    margin-top: 10%;

}
.third-sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.third-right-box img{
    width: 350px;
    max-width: none;
    height: 250px;
      
}
.third-left-box h1{
margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {

    .third-sub-container{
        display: flex;
        flex-direction: column;
    }

}